
<div class="bg-[#d6f5f6] my-[1rem] text-center h-[11rem] relative mx-[1rem] rounded-lg">
  <div class="flex justify-between"> 
    <div class="mt-[2rem] ">   
    <h1 class="text-3xl font-bold p-3">Hello Uday 👋</h1>
    <p class="ml-7">Hope you are having a great day!</p>
  </div>
  
    <div class="flex items-center mr-10 absolute right-2 sm:mt-5 ">
      <img src="assets/header.png" class="lg:h-[11rem] lg:w-[20rem] md:w-[15rem] w-[10rem]"/>
    <!-- <p class="mt-[3rem] font-bold text-center text-4xl sm:block hidden">Welcome</p> -->
    <!-- <img src="assets/header2.png" class="relative top-2"/> -->
    
  </div>
  </div>
</div>
  