<div class="bg-[#E7E7E7] text-white h-[100%] p-4 flex flex-col">
  <div class="flex flex-col space-y-4 p-4">
    <div class="flex flex-col items-center justify-center mb-5  text-black">
      <img src="assets/WebsiteLogo.png" />
      <p class="font-bold">STAFF SPHERE</p>
      <p>Your Workforce, Your Cities,</p>
      <p>One Unified Vision!</p>
    </div>
    <ul>
      <li class="mb-4">
        <a class="flex items-center space-x-2 hover:text-orange-400" href="#">
          <span>🏠</span> <span>Home</span>
        </a>
      </li>
      <li class="mb-4">
        <a class="flex items-center space-x-2 hover:text-orange-400" href="#">
          <span>🏙️</span> <span>Explore City</span>
        </a>
      </li>
      <li class="mb-4">
        <a class="flex items-center space-x-2 hover:text-orange-400" href="#">
          <span>📝</span> <span>Dashboard</span>
        </a>
      </li>
      </ul>
      </div>
      <div class="flex flex-col mt-auto p-4 space-y-4">
      <ul class="">
      <li class="mb-4">
        <a class="flex items-center space-x-2 hover:text-orange-400" href="#">
          <span>👤</span> <span>Profile</span>
        </a>
      </li>
      <li>
        <a class="flex items-center space-x-2 hover:text-orange-400" href="#">
          <span>🚪</span> <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>

  </div>